/*
                 _                      _                           _           
  ___ ___  _ __ | |_ ___ _ __   ___  __| | ___  _ __   _ __ ___  __| | ___  ___ 
 / __/ _ \| '_ \| __/ _ \ '_ \ / _ \/ _` |/ _ \| '__| | '__/ _ \/ _` |/ _ \/ __|
| (_| (_) | | | | ||  __/ | | |  __/ (_| | (_) | |    | | |  __/ (_| |  __/\__ \
 \___\___/|_| |_|\__\___|_| |_|\___|\__,_|\___/|_|    |_|  \___|\__,_|\___||___/
                                                                       
*/

#contenedorInfoContacto {
  text-align: center;
}
#contenedorInfoContacto > h1 {
  font-size: 20px;
}

.contenedorRedesSociales {
  display: flex;
 align-items: center;
 justify-content: center;
}

/*
  __                            _            _                         _             _        
 / _| ___  _ __ _ __ ___  _   _| | __ _ _ __(_) ___     ___ ___  _ __ | |_ __ _  ___| |_ ___  
| |_ / _ \| '__| '_ ` _ \| | | | |/ _` | '__| |/ _ \   / __/ _ \| '_ \| __/ _` |/ __| __/ _ \ 
|  _| (_) | |  | | | | | | |_| | | (_| | |  | | (_) | | (_| (_) | | | | || (_| | (__| || (_) |
|_|  \___/|_|  |_| |_| |_|\__,_|_|\__,_|_|  |_|\___/   \___\___/|_| |_|\__\__,_|\___|\__\___/ 
                                                                     
*/

