#hablaConNosotros {
  font-size: 22px;
  color: #003554;
  text-align: center;
}

/*
                 _                      _                           _           
  ___ ___  _ __ | |_ ___ _ __   ___  __| | ___  _ __   _ __ ___  __| | ___  ___ 
 / __/ _ \| '_ \| __/ _ \ '_ \ / _ \/ _` |/ _ \| '__| | '__/ _ \/ _` |/ _ \/ __|
| (_| (_) | | | | ||  __/ | | |  __/ (_| | (_) | |    | | |  __/ (_| |  __/\__ \
 \___\___/|_| |_|\__\___|_| |_|\___|\__,_|\___/|_|    |_|  \___|\__,_|\___||___/
                                                                       
*/
.contenedorRedesSociales {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid back 300px;
}

.iconRedeSocial {
  width: 25px;
}

td > p {
  font-size: 14px;
}

/*
  __                            _            _                         _             _        
 / _| ___  _ __ _ __ ___  _   _| | __ _ _ __(_) ___     ___ ___  _ __ | |_ __ _  ___| |_ ___  
| |_ / _ \| '__| '_ ` _ \| | | | |/ _` | '__| |/ _ \   / __/ _ \| '_ \| __/ _` |/ __| __/ _ \ 
|  _| (_) | |  | | | | | | |_| | | (_| | |  | | (_) | | (_| (_) | | | | || (_| | (__| || (_) |
|_|  \___/|_|  |_| |_| |_|\__,_|_|\__,_|_|  |_|\___/   \___\___/|_| |_|\__\__,_|\___|\__\___/ 
                                                                     
*/
form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

legend {
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
  color: #051923;
  margin-bottom: 20px;
}

div > label {
  color: #051923;
}

div > input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contenedorInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.inputFormContacto > input:nth-child(-n + 2) {
  width: 90%;
}

label {
  font-size: 14px;
}

#txtUsuario {
  width: 500px;
  height: 160px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}

#btnEnviar {
  margin-top: 17px;
  margin-bottom: 17px;
  padding: 10px;
}

#btnEnviar:hover {
  color: #ffffff;
}

#lblEscribeAqui {
  margin-left: 22%;
  z-index: 1;
}

/*------------------------------------------------------------------------*/

/*Responsive Desktop (1920x1080)*/
@media screen and (min-width: 480px) {
  #hablaConNosotros {
    margin-top: 2%;
    font-size: 45px;
  }

  .iconRedeSocial {
    width: 40px;
  }

  td > p {
    text-align: center;
    font-size: 30px;
  }

  tbody {
    margin-right: 4%;
    margin-bottom: 2%;
  }

  legend {
    font-size: 30px;
  }

  form {
    margin-left: 15%;
    margin-right: 15%;
    height: 480px;
  }

  .contenedorInputs {
    margin-left: 4%;
  }

  #enviarMensaje {
    margin-left: 4%;
  }

  .inputFormContacto > input {
    border-radius: 5px;
    height: 40px;
  }

  #txtUsuario {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }

  #btnEnviar {
    margin-left: 37.7%;
    margin-bottom: 10px;
    font-size: 20px;
    width: 200px;
    height: 60px;
  }
}
