article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/*Selector para quitar estilos del <a>.*/
h1 > a {
  color: #003554;
  text-decoration: none;
}

#tituloExplorar {
  line-height: 1.2;
  font-size: 14px;
  grid-column: span 2;
}
.contenedorMosaico {
  display: flex;
  flex-direction: column;
}

.contenedorMosaico div:first-child {
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: space-between;
  height: 100px;
}

.contenedorMosaico div:last-child {
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.contenedorMosaico div:last-child {
  display: flex;
  width: 100%;
}
.contenedorMosaico div img {
  height: 25px;
}

#contenedor1 {
  background-image: url(../img/explorar/templatePremium1.webp);
  background-size: cover;
  background-position: center;
}

#contenedor2 {
  /*   background-image: url(../img/explorar/templatePremium2.png); Esta era la ruta antigua de la imagen, la dejaremos comentada porque en el proyecto se pide que hagamos conversion de algunas imagenes y que se sustituyan la original por las convertidas. */
  background-image: url(../img/explorar/TemplateGratis2.webp);
  background-size: cover;
  background-position: center;
}

#contenedor3 {
  /*     background-image: url(../img/explorar/TemplateGratis1.jpg); Esta era la ruta antigua de la imagen, la dejaremos comentada porque en el proyecto se pide que hagamos conversion de algunas imagenes y que se sustituyan la original por las convertidas. */
  background-image: url(../img/explorar/TemplateGratis1.png);
  background-size: cover;
  background-position: center;
}

#contenedor4 {
  background-image: url(../img/explorar/TemplateGratis2.webp);
  background-size: cover;
  background-position: center;
}

.meGusta {
  font-size: small;
}

/*------------------------------------------------------------------------*/

/*Responsive Desktop (1920x1080)*/
@media screen and (min-width: 480px) {
  #tituloExplorar {
    margin-top: 30px;
    font-size: 26px;
  }

  #contenedor1,
  #contenedor2,
  #contenedor3,
  #contenedor4 {
    height: 300px;
  }
  .meGusta{
    font-size: 18px;
  }
}
