@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Apply 2px margin and no border to all elements */
* {
  font-family: "Open Sans", sans-serif;
  margin: 2px;
  border-style: none;
  border-width: 1.7px;
}

/*
 _                    _           
| |                  | |          
| |__   ___  __ _  __| | ___ _ __ 
| '_ \ / _ \/ _` |/ _` |/ _ \ '__|
| | | |  __/ (_| | (_| |  __/ |   
|_| |_|\___|\__,_|\__,_|\___|_|   
*/
/* Define header style */
#header {
  background-color: #5c62b0; /* Set header background color */
  grid-row-start: 1;
  grid-column-start: 1; /* Position header in the grid */
  grid-row-end: 2;
  grid-column-end: 2; /* Size header in the grid */
  border-style: solid; /* Set header border style */
}

/* Posicionamento de la imagen con letras japonesas al centro de la cabecera. */
#KitsuneHeaderID {
  position: absolute;
  top: 20px;
  left: calc(50% - 20px);
  z-index: 1;
  margin-top: 4%;
}

/* Estilos para el menu hamburguesa */
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/*Aqui estoy posicinando el menu hamburguesa para que esté arriba y orientado hacia la derecha.*/
#header .hamburger {
  position: absolute;
  right: 20px;
  top: 20px;
}

/*
 _               _       
| |             | |      
| |__   ___   __| |_   _ 
| '_ \ / _ \ / _` | | | |
| |_) | (_) | (_| | |_| |
|_.__/ \___/ \__,_|\__, |
                    __/ |
                   |___/ 
*/
/* Selector del body, de momento solo utilizamos para definir un color de fondo. */
body {
  background-color: #333333;
}

/*
  __            _            
 / _|          | |           
| |_ ___   ___ | |_ ___ _ __ 
|  _/ _ \ / _ \| __/ _ \ '__|
| || (_) | (_) | ||  __/ |   
|_| \___/ \___/ \__\___|_|   
*/
/*FOOTER*/
#footer {
  grid-row-start: 6;
  grid-column-start: 1;
  grid-row-end: 7;
  grid-column-end: 2;
  text-align: center;
  position: relative;
  color: #ffa0ff;
  font-size: 12px;  background: url("../img/fondoFooter.png");
margin-top: 3px;

}



/*Aqui juntamos un poquito los parrafos del footer para que sea algo mas discreto.*/
#txtFooter1,
#txtFooter2,
#txtFooter3 {
  /*margin: -3px;
  Esta propriedad esta mal, hace lo que quiero, que es juntar los 3 p que tengo en footer pero, me come un poco del contenedor de arriba, por lo cual no la borro pero queda avisado para buscar una solucion y alternativa a esto.*/
}
