#titulo1 {
  text-align: center;
  font-size: 18px;
  color: #003554;
}


#contenedorLogin {
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}

#contenedorLogin > form {
  background-color: #ffffff;
}

#contenedorLogin > form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea los elementos horizontalmente en el centro */
}
.inputTxt {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img {
  display: flex;
  justify-content: center;
  margin-right: 8%;
  margin-bottom: 10px;
}
form > h2 {
  display: flex;
  margin-bottom: 30px;
  margin-top: 10px;
  justify-content: center;
  color: #003554;
}

#pContrasena {
  display: flex;
  font-size: 10px;
  margin-left: 18%;
  margin-top: -13px;
}
#btnFormulario {
  margin-left: 0px;
  margin-top: 15%;
  margin-bottom: 15%;
}

div > img {
  width: 25px;
}

#pRegistrar {
  display: flex;
  font-size: 10px;
  align-self: flex-start;
}

/*Por fin, damos un espaciado al footer*/
#footer {
  margin-top: 30%;
}

/*Vamos a quitar el estilo horrible de los anchor <a>*/
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
