form {
  background-color: #ffffff;
  margin-top: 15%;
  margin-bottom: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}
form > h2 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 6%;
}

.contenedorInput {
  display: flex;
  justify-content: center;
  margin-right: 10%;
  margin-bottom: 3%;
}

.contenedorInput > input {
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#msjEresMiembro {
  display: flex;
  font-size: 10px;
  margin-top: 10%;
}

#msjEresMiembro > a,#msjEresMiembro > a:visited {
  text-decoration: none;
  color: inherit;

}

#btnRegistrar {
  align-self: center;
  margin-top: 15%;
}

#btnRegistrar:hover {
  color: #ffffff;
}
#footer {
  margin-top: 25%;
}

div > img {
  width: 25px;
}
