form {
  background-color: #ffffff;
  margin-top: 15%;
  margin-bottom: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}
form > h2 {
  text-align: center;
  margin-bottom: 6%;
  color: #003554;
}

.contenedorInput {
  display: flex;
  justify-content: center;
  margin-right: 10%;
  margin-bottom: 3%;
}

.contenedorInput > input {
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#msjEresMiembro {
  display: flex;
  font-size: 10px;
  margin-top: 10%;
}

#msjEresMiembro > a,
#msjEresMiembro > a:visited {
  text-decoration: none;
  color: inherit;
  color: #003554;
}

#btnRegistrar {
  align-self: center;
  margin-top: 15%;
}

#btnRegistrar:hover {
  color: #ffffff;
}
#footer {
  margin-top: 25%;
}

div > img {
  width: 25px;
}

/*------------------------------------------------------------------------*/

/*Responsive Desktop (1920x1080)*/
@media screen and (min-width: 480px) {

  form{
    margin-top: 5%;
  }

  #titulo1 {
    margin-top: 20px;
    font-size: 36px;
  }

  h2 {
    padding-top: 5%;
    font-size: 50px;
  }

  a:last-child{
    font-size: 20px;
  }

  
.contenedorInput {
  display: flex;
  justify-content: center;
  margin-right: 2%;
  margin-bottom: 0.9%;
}

.contenedorInput > input {
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30%;
  height: 40px;
}

.contenedorInput>img{
  width: 45px;
}
#btnRegistrar{
  margin-top: 5%;
  font-size: 20px;
  width: 200px;
  height: 60px;
  margin-left: 41.2%;
}
}
